@using Vidly.Models
@using Vidly.ViewModels.MovieListViewModel
@{
    ViewBag.Title = "MovieList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Movies.Count == 0)
{
    <p>There are no movies!</p>
}
else
{
    <ul>
        @foreach (var Movie in Model.Movies)
        {
            <li>@Movie.Name</li>
        }
    </ul>
}